<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
</head><body>
<div class="container-fluid p-0">
<header th:insert="blocks/header :: header"></header>
<h1>Your way to grow as a human</h1>
<h2>The concept of our cinema is mindful watching. We get together with different people,
    watch a film and discuss it, provoking deeper thoughts on the subject and analyzing situations, based on our own experience.
Such meaningful conversations might as well turn into a habit in our social groups in everyday life so that we can become more moral and spiritual,
    make the right choices and eventually, one step at a time, the world will be a better place.</h2>
<p></p>
<p>

</p>
<footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>