<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/">
                        <img src="/posters/logo.jpg" alt="No image" width="100">
                    </a>
                    <a class="nav-item nav-link active" th:href="@{/films/list}">Films</a>
                    <a class="nav-item nav-link active" th:href="@{/sessions/list}">Schedule</a>
                </div>
                <div class="d-flex" th:if="${user.fullName == 'Гость' || user.fullName == null}">
                    <a class="nav-link text-secondary me-3" th:href="@{/users/login}">Sign in</a>
                </div>
                <div class="d-flex" th:if="${user.fullName != 'Гость' && user.fullName != null}">
                    <a class="nav-link text-secondary me-3" href="#" th:text="${user.fullName}"></a>
                    <a class="nav-link text-secondary" th:href="@{/users/logout}">Sign out</a>
                </div>
            </div>
        </div>
    </nav>
</div>